<footer class="footer mt-auto text-white">
    <div class="footer-content">
        <div class="row">
            <div class="col-6">
                <div class="rights-reserve">&copy; 2025 Analog Devices. All rights reserved.</div>
            </div>
            <div class="col-6">
                <div class="report">
                    <a class="report" href="mailto:clarissa.septimo@analog.com?subject=Constellation - Report an Issue"><i class="fa-solid fa-flag"></i> Report an issue</a>
                </div>
            </div>
            </div>
        </div>
  </footer>