<nav class="navbar navbar-expand-lg nav-bg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/clogo.png" width="100" height="me-auto">
          </a>      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav justify-content-end ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/kuiperlinuxci" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{ exact: true }">Kuiper Linux CI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/scorecard" routerLinkActive="nav-link-active" ariaCurrentWhenActive="page"  [routerLinkActiveOptions]="{ exact: true }">Scorecard</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>