<div class="kuiperlinuxci-container ">
    <div class="first-section ">
        <div class="row">
            <div class="col-2">
                <div class="page-title">Kuiper Linux CI</div>
            </div>
            <div class="col-10">
                <div class="page-desc">{{kuiperlinuxci}}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="latest-summary">Latest Build Summary</div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="jenkins-details">
                    <table class="jenkins-table-details">
                        <tr class="t-row">
                            <td class="field">Jenkins Project Name</td>
                            <td class="output">{{ latestData.jenkins_project_name }}
                            </td>
                            <td class="spacer"></td>
                            <td class="field">Artifactory source branch</td>
                            <td class="output">{{ latestData.source_adjacency_matrix }}</td>
                        </tr>
                        <tr class="t-row">
                            <td class="field">Latest Jenkins Build No.</td>
                            <td class="output">{{ latestData.jenkins_build_number }} (Latest)</td>
                            <td class="spacer"></td>
                            <td class="field">Linux Commit</td>
                            <td class="output">{{ latestData.linux_hash }}</td>
                            <td class="field">Status
                                <ng-template #tooltipElement>
                                    <div class="status-details">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="status-icon-table"><img src="/assets/Online.png" /></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="status-icon-table"><img src="/assets/Offline.png" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="status-head">Online</div>
                                            </div>
                                            <div class="col-4">
                                                <div class="status-head">Offline</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="status-icon-table"><img src="/assets/Passed.png" /></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="status-icon-table"><img src="/assets/nebula.svg" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="status-head">Pass</div>
                                            </div>
                                            <div class="col-4">
                                                <div class="status-head">Nebula Error</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="status-icon-table"><img src="/assets/linux.svg" /></div>
                                            </div>
                                            <div class="col-4">
                                                <div class="status-icon-table"><img src="/assets/python.svg" /></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="status-head">Linux Dmesg Error</div>
                                            </div>
                                            <div class="col-4">
                                                <div class="status-head">Pytest Failure</div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <button aria-label="tooltip-info" #tooltipLink type="button" class="info-icon" data-bs-toggle="tooltip">
                                    <i class="fa-solid fa-circle-info"></i>
                                  </button>

                            </td>
                        </tr>
                        <tr class="t-row">
                            <td class="field">HDL Commit</td>
                            <td class="output">{{ latestData.hdl_hash }}</td>
                            <td class="spacer"></td>
                            <td class="field">Online</td>
                            <td class="output">{{ this.onlineBoardsCount }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <div class="jenkins-details">
                        <table class="jenkins-table-testlogo">
                            <tr class="t-row">
                                <td class="field-stat">
                                    <img src="/assets/passed_icon.svg" class="icons" /> {{ this.passingBoardsCount }}
                                    <span class="unit">Passing board</span>
                                    <span class="spacer"></span>
                                    <img src="/assets/pytestFailed.svg" class="icons" /> {{ this.pytestBoardsCount }}
                                    <span class="unit">Pytest Error</span>
                                    <span class="spacer"></span>
                                    <img src="/assets/dmesgerr.svg" class="icons" /> {{ this.linuxBoardsCount }}
                                    <span class="unit">Dmesg Error/ Driver Missing</span>
                                    <ng-template #passedlogo>
                                        <div class="board-tooltip">
                                            <div class="row" style="font-weight: 500;">
                                                <div class="col-12">
                                                    <div class="board-power">
                                                        Passed
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #linuxlogo>
                                        <div class="board-tooltip">
                                            <div class="row" style="font-weight: 500;">
                                                <div class="col-12">
                                                    <div class="board-power">
                                                        Linux Dmesg error / Drivers missing
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #pytestlogo>
                                        <div class="board-tooltip">
                                            <div class="row" style="font-weight: 500;">
                                                <div class="col-12">
                                                    <div class="board-power">
                                                        Pytest errors
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-4">
                    <div class="search-container">
                        <form>
                            <input type="text" placeholder="Search" [(ngModel)]="searchText" [ngModelOptions]="{standalone: true}"
                                (keyup)="filterResults(searchText)" (keydown.enter)="filterResults(searchText)"
                                name="search" [ngModelOptions]="{standalone: true}"/>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="second-section">
        <div class="jenkins-table">
            <table class="table">
                <thead>
                    <tr>
                        <th class="table-head"> Item no</th>
                        <th class="table-head">Job Date
                            <span class="status-icon">
                                <a type="button" aria-label="toggle"class="sort-btn" (click)="toggleSortOrder()">
                                    <i *ngIf="sortOrder === 'desc'" class="fas fa-sort-down"></i>
                                    <i *ngIf="sortOrder === 'asc'" class="fas fa-sort-up"></i>
                                </a>
                            </span>
                        </th>
                        <th class="table-head">Board</th>
                        <th class="table-head">Build
                            <span class="status-icon">
                                <a type="button" aria-label="toggle" class="sort-btn" (click)="toggleSortOrder()">
                                    <i *ngIf="sortOrder === 'desc'" class="fas fa-sort-down"></i>
                                    <i *ngIf="sortOrder === 'asc'" class="fas fa-sort-up"></i>
                                </a>
                            </span>
                        </th>
                        <th class="table-head">Power</th>
                        <th class="table-head">Result</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bd of boardDetail; let i = index"
                        (click)="navigateToSelectedBoardPage(bd.boot_folder_name)">
                        <td class="table-output">{{ i + 1 }}</td>
                        <td class="table-output">{{ bd.jenkins_job_date | date:'y-M-d HH:mm:ss' }}</td>
                        <td class="table-output text-wrap text-break overflow-hidden" routerLink="/kuiperlinuxci" style="cursor: pointer;">
                            {{ bd.boot_folder_name }}
                        </td>
                        <td class="table-output">{{ bd.jenkins_build_number }}</td>

                        <td class="table-output">
                            <ng-container>
                                <a aria-label="gotopage" type="button" containerClass="customClass">
                                    <span class="status-icons" *ngIf="isBoardOnline(bd).status">
                                        <img [src]="isBoardOnline(bd).icon" />
                                    </span>
                                </a>
                            </ng-container>

                        </td>
                        <td class="table-output">
                            <ng-container>
                                <a aria-label="gotopage" type="button" containerClass="customClass">
                                    <span class="status-icons">
                                        <img class="stat-icon" *ngFor="let icon of isBoardPassed(bd); let i=index"
                                            [src]="bd.icon[i]" alt="Image" />
                                    </span>
                                </a>
                            </ng-container>
                            <div class="text-wrap text-break overflow-hidden" [innerHTML]="statusMessages[0]">
                                {{ bd.statusMessages }}
                            </div>
                        </td>
                        <ng-template #powerTooltip>
                            <div class="board-tooltip">
                                <div class="row" style="font-weight: 500;">
                                    <div class="col-12">
                                        <div class="board-power">
                                            Power
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="board-result">
                                            {{ isBoardOnline(bd).status }}
                                            <ng-container *ngIf="isBoardOnline(bd).status == 'Offline'">
                                                <br>
                                                <div class="board-tooltip">
                                                    <div class="row" style="font-weight: 500;">
                                                        <div class="col-12">
                                                            <div class="power">
                                                                Test Result
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-12" [innerHTML]="statusMessages[0]"
                                                            style="word-wrap: break-word; white-space: pre">
                                                            • {{ bd.statusMessages }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #testTooltip>
                            <div class="board-tooltip">
                                <div class="row" style="font-weight: 500;">
                                    <div class="col-12">
                                        <div class="power">
                                            Test Result
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12" [innerHTML]="statusMessages[0]">
                                        {{ bd.statusMessages }}
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- <div class="container mt-5">
        <button #tooltipButton type="button" class="btn btn-info" [attr.title]="tooltipTitle" 
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            >
            Hover over me for Tooltip
        </button>
        <ng-template #tooltipTemplate>
            <div>
                <h5>Dynamic Tooltip Content</h5>
                <p>This content is loaded dynamically in the tooltip.</p>
            </div>
        </ng-template>
    </div> -->
<!-- <div class="container mt-5">
        <button #tooltipButton type="button" class="btn btn-info" data-bs-toggle="tooltip" data-bs-placement="top">
            Hover over me for Tooltip
        </button>
        <ng-template #tooltipTemplate>
            <div>
                <h5>Dynamic Tooltip Content</h5>
                <p>This content is loaded dynamically in the tooltip.</p>
            </div>
        </ng-template>
    </div> -->

<!-- templates -->